@media (max-width: 767px) {
  .device.device-iphone-x {
    transform: scale(0.8);
    transform-origin: top center;
    margin-bottom: -60px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .device.device-iphone-x {
    transform: scale(0.9);
    transform-origin: top center;
    margin-bottom: -30px;
  }
}